# Environnement virtuel
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Notebooks checkpoints
.ipynb_checkpoints/

# Données lourdes (optionnel - on verra)
# data/*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/